.component {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-self: center;
}

.title {
  font-size: 1.2em;
  margin: 5px 0;
}

.subTitle {
  font-size: 0.8em;
  color: #f7f0f0;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  margin: 0 10px;
}

.controls button:focus {
  outline: none;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline {
  width: 100%;
  margin-top: 10px;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #27ae60;
  cursor: pointer;
}

.timeline::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #27ae60;
  cursor: pointer;
}
